Repository francesco-albanese/aws-api-gateway-mtls: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-root, pyright-health, pyright-token

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pyright-root
        name: pyright (root)
        entry: uv run --group dev --group ca pyright
        language: system
        types: [python]
        files: ^ca_operations/
        pass_filenames: false

      - id: pyright-health
        name: pyright (health lambda)
        entry: bash -c 'cd lambdas/health && uv run pyright'
        language: system
        types: [python]
        files: ^lambdas/health/
        pass_filenames: false

      - id: pyright-token
        name: pyright (token lambda)
        entry: bash -c 'cd lambdas/token && uv run pyright'
        language: system
        types: [python]
        files: ^lambdas/token/
        pass_filenames: false

test: add ca_operations tests for cert chain validation (PRD-008)
  ca_operations/tests/conftest.py
  ca_operations/tests/test_ca_manager.py
  ca_operations/tests/test_cert_utils.py
Due: pyright-root

feat: implement custom authorizer lambda (JWT + mTLS validation) (PRD-009)
  .pre-commit-config.yaml
  lambdas/authorizer/pyproject.toml
  lambdas/authorizer/src/authorizer/__init__.py
  lambdas/authorizer/src/authorizer/handler.py
  lambdas/authorizer/tests/__init__.py
  lambdas/authorizer/tests/conftest.py
  lambdas/authorizer/tests/test_handler.py
  lambdas/authorizer/uv.lock
  terraform/ecr/main.tf
  terraform/environmental/lambda.tf
Due: none

refactor: modularize token lambda for maintainability (PRD-010)
  lambdas/token/src/token/cert_metadata.py
  lambdas/token/src/token/cert_validator.py
  lambdas/token/src/token/cognito_exchange.py
  lambdas/token/src/token/handler.py
  lambdas/token/src/token/types.py
  lambdas/token/src/token/utils.py
  lambdas/token/tests/conftest.py
  lambdas/token/tests/test_handler.py
Due: pyright-token

refactor: modularize project rules and add ralph templates
  .claude/rules/lambda.md
  .claude/rules/linting.md
  .claude/rules/testing.md
  CLAUDE.md
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/ralph/prompt.md
Due: none

docs: update linting rules and project instructions
  .claude/rules/linting.md
  CLAUDE.md
Due: none

docs: improve documentation formatting and reset ralph templates
  .github/README.md
  CLAUDE.md
  README.md
  ca_operations/README.md
  clients/README.md
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/ralph/prompt.md
Due: none

docs: fix API_URL in clients README
  clients/README.md
Due: none

feat: add intermediate CA rotation with cert re-issuance (PRD-FEAT-001)
  ca_operations/lib/certificate_builder.py
  ca_operations/lib/dynamodb_client.py
  ca_operations/lib/models.py
  ca_operations/lib/s3_client.py
  ca_operations/scripts/rotate_intermediate_ca.py
  ca_operations/tests/test_certificate_builder.py
  ca_operations/tests/test_dynamodb_client.py
  ca_operations/tests/test_s3_client.py
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
Due: pyright-root

refactor: split lambda IAM roles for least privilege (PRD-SEC-001)
  terraform/environmental/lambda.tf
Due: none

feat: add CloudWatch Application Signals with ADOT auto-instrumentation (PRD-OBS-001)
  lambdas/Dockerfile
  terraform/environmental/lambda.tf
Due: none

refactor: modularize authorizer lambda into single-responsibility modules (PRD-REFACTOR-001)
  .claude/settings.local.json
  lambdas/authorizer/src/authorizer/__init__.py
  lambdas/authorizer/src/authorizer/event_parser.py
  lambdas/authorizer/src/authorizer/handler.py
  lambdas/authorizer/src/authorizer/jwt_validator.py
  lambdas/authorizer/src/authorizer/responses.py
  lambdas/authorizer/src/authorizer/types.py
  lambdas/authorizer/tests/conftest.py
  lambdas/authorizer/tests/test_handler.py
Due: none

refactor: improve type safety and DynamoDB query efficiency
  .claude/rules/testing.md
  Makefile
  ca_operations/lib/cert_utils.py
  ca_operations/lib/config.py
  ca_operations/lib/dynamodb_client.py
  ca_operations/lib/models.py
  ca_operations/scripts/rotate_intermediate_ca.py
  ca_operations/tests/test_dynamodb_client.py
  lambdas/authorizer/src/authorizer/handler.py
  lambdas/authorizer/tests/conftest.py
  lambdas/authorizer/tests/test_handler.py
  lambdas/health/tests/conftest.py
  lambdas/token/src/token/cognito_exchange.py
  lambdas/token/tests/conftest.py
  makefiles/ca.mk
  makefiles/lambda.mk
  pyproject.toml
  scripts/ralph/prd.json
  scripts/ralph/prompt.md
  terraform/environmental/dynamodb.tf
  uv.lock
Due: pyright-root, pyright-health, pyright-token

feat: add intermediate CA rotation workflow and refactor CA operations
  .claude/settings.local.json
  .github/actions/README.md
  .github/workflows/README.md
  .github/workflows/ca-rotate-intermediate.yml
  CLAUDE.md
  README.md
  ca_operations/lib/ca_manager.py
  ca_operations/lib/ca_utils.py
  ca_operations/lib/cert_utils.py
  ca_operations/lib/dynamodb_client.py
  ca_operations/lib/ssm_client.py
  ca_operations/scripts/rotate_intermediate_ca.py
  ca_operations/tests/test_ca_utils.py
  ca_operations/tests/test_cert_utils.py
  ca_operations/tests/test_certificate_builder.py
  ca_operations/tests/test_dynamodb_client.py
  ca_operations/tests/test_rotate_intermediate_ca.py
  ca_operations/tests/test_ssm_client.py
  clients/README.md
  lambdas/authorizer/src/authorizer/__init__.py
  lambdas/authorizer/src/authorizer/_types.py
  lambdas/authorizer/src/authorizer/cert_extractor.py
  lambdas/authorizer/src/authorizer/cert_metadata.py
  lambdas/authorizer/src/authorizer/cert_validator.py
  lambdas/authorizer/src/authorizer/handler.py
  lambdas/authorizer/src/authorizer/responses.py
  lambdas/authorizer/tests/conftest.py
  lambdas/authorizer/tests/test_handler.py
  lambdas/health/tests/test_handler.py
  terraform/README.md
Due: pyright-root, pyright-health

docs: remove redundant --no-verify instruction from CLAUDE.md
  CLAUDE.md
Due: none

refactor: simplify workflow prompt, remove unnecessary cast
  .github/workflows/claude-code-review.yml
  ca_operations/lib/dynamodb_client.py
Due: pyright-root

refactor: add type validation and key-cert verification for intermediate CA rotation
  .claude/rules/testing.md
  README.md
  ca_operations/lib/cert_utils.py
  ca_operations/lib/dynamodb_client.py
  ca_operations/scripts/rotate_intermediate_ca.py
  ca_operations/tests/test_certificate_builder.py
  terraform/client-provisioning/env/production.tfvars
Due: pyright-root

docs: clarify prek usage in git hooks and auto-approve prek commands
  .claude/settings.local.json
  CLAUDE.md
Due: none

ci: auto-approve prek commands in claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix: KeyError on legacy DynamoDB items missing notBefore attribute
  ca_operations/lib/dynamodb_client.py
Due: pyright-root

fix: remove empty string default for notBefore in legacy DynamoDB items
  ca_operations/lib/dynamodb_client.py
  ca_operations/lib/models.py
  ca_operations/tests/test_dynamodb_client.py
Due: pyright-root

fix: prevent DynamoDB write errors for None values in cert rotation
  ca_operations/lib/dynamodb_client.py
  ca_operations/tests/test_dynamodb_client.py
Due: pyright-root

refactor: remove notBefore from DynamoDB cert metadata
  ca_operations/README.md
  ca_operations/lib/cert_utils.py
  ca_operations/lib/dynamodb_client.py
  ca_operations/lib/models.py
  ca_operations/tests/test_cert_utils.py
  ca_operations/tests/test_dynamodb_client.py
  ca_operations/tests/test_rotate_intermediate_ca.py
Due: pyright-root

fix: KeyError on legacy DynamoDB items missing notBefore (#26)
  ca_operations/README.md
  ca_operations/lib/cert_utils.py
  ca_operations/lib/dynamodb_client.py
  ca_operations/lib/models.py
  ca_operations/tests/test_cert_utils.py
  ca_operations/tests/test_dynamodb_client.py
  ca_operations/tests/test_rotate_intermediate_ca.py
Due: pyright-root

chore: remove ralph template scripts
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/ralph/prompt.md
Due: none

chore: remove ralph template scripts (#27)
  scripts/ralph/prd.json
  scripts/ralph/progress.txt
  scripts/ralph/prompt.md
Due: none

fix: rename .github/README.md to avoid precedence over root README
  .claude/settings.local.json
  .github/GITHUB_OIDC_SETUP.md
  CLAUDE.md
Due: none

fix: rename .github/README.md to avoid precedence over root README (#28)
  .claude/settings.local.json
  .github/GITHUB_OIDC_SETUP.md
  CLAUDE.md
Due: none

feat: add mTLS curl health script with Makefile target
  .gitignore
  Makefile
  clients/README.md
  makefiles/api.mk
  scripts/curl-mtls.sh
Due: none

fix: ADOT layer download URL and OTEL config
  lambdas/Dockerfile
  terraform/environmental/lambda.tf
Due: none

fix: word splitting in curl verbose flag
  scripts/curl-mtls.sh
Due: none

fix: SSM error handling and non-JSON response fallback
  lambdas/Dockerfile
  scripts/curl-mtls.sh
Due: none

fix: ADOT layer download URL and OTEL config (#29)
  .gitignore
  Makefile
  clients/README.md
  lambdas/Dockerfile
  makefiles/api.mk
  scripts/curl-mtls.sh
  terraform/environmental/lambda.tf
Due: none

fix: install ADOT packages via uv for Python 3.13 ARM64 compatibility
  lambdas/Dockerfile
Due: none

fix: update Dockerfile ADOT install and add PYTHONPATH
  lambdas/Dockerfile
Due: none

fix: supply chain & runtime hardening for ADOT Dockerfile
  lambdas/Dockerfile
  lambdas/adot/pyproject.toml
  lambdas/adot/uv.lock
Due: none

fix: install ADOT packages via uv for Python 3.13 ARM64 compatibility (#30)
  lambdas/Dockerfile
  lambdas/adot/pyproject.toml
  lambdas/adot/uv.lock
Due: none

fix: exclude adot/ from lambda build detection
  .github/workflows/lambda-build.yml
Due: none
